.Card{
    width: 200px;
    height: 400px;
    background-color: aliceblue;
}

.data{
    color: white;
}
.about-main {
    display:flex;
    justify-content: center;
    gap:4rem;
    padding-top: 8rem;
    padding: 0px;
    margin: 0px;
}